# Secrets
.env
.env*

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Large model/data files
*.pt
*.zip
*.log
data/yolo/
data/parquets/

# Node
node_modules/
.next/
out/
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# OS
.DS_Store
Thumbs.db
